<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>


  <body>
    <nav>
<ul>
<li><a href="/">Home</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="mailto:&#119;&#101;&#98;&#64;&#115;&#105;&#108;&#118;&#105;&#97;&#98;&#105;&#110;&#100;&#101;&#114;&#46;&#97;&#116;">&#119;&#101;&#98;&#64;&#115;&#105;&#108;&#118;&#105;&#97;&#98;&#105;&#110;&#100;&#101;&#114;&#46;&#97;&#116;</a></li>
   </ul>
  </footer>
  </body>

</html>
